<div class="form-horizontal" role="form">
  <%= form_for item_in_pantry do |f| %>
    <div class="form-group">
      <%= f.label :Ingredient, class: 'col-sm-2 control-label' %>
      <div class="form-group">
        <div class="col-sm-2">
          <%= f.text_field :ingredient_name, data: {autocomplete_source: ingredients_path}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :quantity, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_field :quantity, class: 'form-control', placeholder: "10" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :min_quantity, class: 'col-sm-2 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :min_quantity, class: 'form-control', placeholder: "1" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :measurement, class: 'col-sm-2 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :measurement, class: 'form-control', placeholder: "cup/t/T" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :location, class: 'col-sm-2 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :location, class: 'form-control', placeholder: "middle shelf" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div>  
  <% end %>
</div>

