<div class="col-md-8">
  <%= form_for @recipe do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter recipe name" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 4, class: 'form-control', placeholder: "Enter recipe description" %>
    </div>
    <select class="form-group">
      <%= f.label :ingredients %>
      <%= f.collection_select :ingredients, Ingredient.order(:name), :id, :name, include_blank: false %>
    </select>
  <% end %>
</div>