<fieldset class="add-ln-form">
  <div class="col-xs-2 col-xs-offset-1">
    <%= f.collection_select :ingredient_id,
      Ingredient.order(:name), :id, :name, prompt: "Select Ingredient", class: 'form-control' %>
  </div>
  <div class="col-xs-1">
    <%= f.text_field :quantity, placeholder: "0", class: 'form-control' %>
  </div>
  <div class="col-xs-1">
    <%= f.text_field :measurement, placeholder: "cup", class: 'form-control' %>
  </div>
  <div class="col-xs-4">
    <%= f.text_field :directions, placeholder: "Enter directions", class: 'form-control' %>
  </div>
  <div class="col-xs-1">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove", '#', class: "remove_fields btn btn-danger" %>
  </div>
</fieldset>
