<h1><%= @recipe.name %></h1>

<div class="container"
  <div class="col-md-4">
    <h4>Ingredients</h4>
    <ul>
    <% @recipe.ingredient_lines.each do |ingredient| %>
      <li><%= ingredient.quantity %>
          <%= ingredient.measurement %>
          - <%= ingredient.ingredient.name %>
            <%= ingredient.directions %>
      </li>
    <% end %>
    </ul>

    <h4>Directions</h4>
    <ol>
    <% @recipe.directions.each do |direction| %>
      <li><%= direction.step %></li>
    <% end %>
    </ol>
  </div>
</div>
